@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@300;400;500;600&display=swap');

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #E6CCFF;
}

/* Hide the scroll bar from the application */
::-webkit-scrollbar {
  display: none;
}

.reset-tw :not(pre):not(code) {
  all: revert;
}

.loader div:nth-child(2){
  animation-delay: 0.2s;
}

.loader div:nth-child(3){
  animation-delay: 0.4s;
}



